body {
    font-family: Roboto;
    /* min-width: 400px; */
}

.hide {
    display: none !important;
}

.flex-center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-btn {
    background-color: #236df8;
    font-size: 10pt;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
    border: none;
}

.gray {
    color: #6f7484;
}

.red1 {
    color: #f82323;
}

.red2 {
    color: #ec3a33;
}

.blue1 {
    color: #236df8;
}

.main-header {
    padding: 10px 0px 30px 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    position: relative;
}

.main-header .top {
    display: flex;
    flex-direction: column;
}

.left-header {
    width: fit-content;
    margin: auto;
}

.skill-logo {
    width: 200px;
    height: 50px;
    object-fit: contain;
}

.right-header {
    padding-top: 31px;
    padding-bottom: 30px;
    display: flex;
    width: fit-content;
    margin: auto;
}

.right-header .last {
    margin-right: 0px;
}

.sk-menu-item {
    height: 20px;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    margin-right: 10px;
    display: flex;
}

.sk-menu-item .menu-text {
    display: none;
}

.sk-menu-item div {
    margin-top: 2px;
    margin-left: 5px;
}

.sk-menu-item .messages {
    margin-top: 0px;
}

.comment-black-oval-bubble-shape {
    width: 18.9px;
    height: 16.2px;
    object-fit: contain;
}

.wallet {
    width: 18px;
    height: 18.2px;
    object-fit: contain;
}

.notification-new {
    width: 16.9px;
    height: 18.2px;
    object-fit: contain;
}

.usa {
    height: 20px;
}

.nav-button a {
    margin-left: 20px;
}

.main-header .bottom {
    /* display: flex; */
    margin-top: 20px;
    padding-left: 20px;
}

.sk-nav {
    margin-right: 20px;
    height: 24px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
}

.main-header .bottom .last {
    margin-right: 0px;
}

.sk-post-job-btn {
    padding: 0px 15px;
    width: fit-content;
    border-radius: 5px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 135px;
}

.add-sign {
    width: 13.4px;
    height: 13.4px;
    object-fit: contain;
}

.main-content {
    background-color: #f7f9fc;
    position: relative;
}

.cover {
    z-index: -1;
}

.cover-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.follow-btn {
    width: 124px;
    height: 24px;
    border-radius: 50px;
    border: solid 1px #11578b;
    background-color: #179cff;
    font-family: Quicksand;
    font-size: 10pt;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
    position: absolute;
    top: 150px;
    right: 10px;
    text-align: center;
    padding-top: 10px
}

.profile {
    z-index: 0;
    padding: 0px 10px 10px 10px;
    background-color: white;
}

.profile-image {
    top: 150px;
    padding: 10px;
    border-radius: 100%;
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 100px;
    height: 100px;
}

.user-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.profile-info {}

.profile-overview {
    display: grid;
    grid-template-columns: 1fr;
}

.sk-name-role {
    margin-top: 20px;
    margin-left: 120px;
}

.name {
    height: fit-content;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #0f0f0f;
}

.role {
    height: 23px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.21;
    text-align: left;
    color: #2f2f2f;
    margin-top: 10px;
}

.sk-popularity {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.sk-popularity div {
    height: 39px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    padding: 0px 25px;
    border-right: 2.1px solid #9f9f9f;
}

.sk-popularity div::after {
    display: block;
    height: 21px;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    color: #9f9f9f;
}

.sk-popularity .followers {
    padding-left: 0px;
}

.sk-popularity .likes {
    border-right: none;
}

.sk-popularity .followers::after {
    content: 'Followers';
}

.sk-popularity .following::after {
    content: 'Following';
}

.sk-popularity .likes::after {
    content: 'Likes';
}

.metadata {
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    justify-content: space-between;
}

.metadata div {
    display: flex;
}

.metadata-label {
    color: #7b7b7b;
}

.metadata-label::after {
    content: "-";
    padding: 0px 2px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 312px) {}

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .right-header {
        margin-left: 80px;
    }

    .profile-overview {
        grid-template-columns: 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sk-menu-item .menu-text {
        display: block;
    }

    .sk-nav {
        margin-right: 40px;
    }

    .sk-post-job-btn {
        margin-left: 120px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-header {
        padding-left: 50px;
    }

    .skill-logo {
        width: 267px;
    }

    .right-header {
        margin-left: 214px;
    }

    .sk-post-job-btn {
        margin-left: 320px;
    }
}