.job-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
}

.job {
    font-size: 12px;
    font-family: Quicksand;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
    border: solid 2px #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
}

.job-main {
    width: 100%;
}

.job-top {
    display: flex;
    /* justify-content: space-between; */
}

.job-logo {
    width: 50px;
}

.job-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.job-title {
    font-weight: bold;
}

.job-info {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

.job-company {
    color: #2e78bc;
}

.job-location {
    color: #1c1919;
    margin-left: 10px;
}

.job-location img {
    width: 9px;
}

.job-bottom {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.job-type {
    font-weight: 600;
    font-size: 11px;
}

.apply-now-btn button {
    font-size: 11px;
    padding: 10px 14px;
    background-color: white;
    border: 1px solid #e94367;
    border-radius: 10px;
    color: #e94367;
    font-family: Montserrat, sans-serif;
}

.pagination {
    width: fit-content;
    margin: auto;
    list-style: none;
    display: flex;
}

.pagination li {
    padding: 5px 10px;
    color: #6f7484;
    font-weight: 500;
    border-radius: 5px;
}

.pagination .active {
    color: white;
    background-color: #236df8;
}

.pagination button {
    border-radius: 5px;
    border: solid 1.5px #e5e7ea;
    background-color: #f9fbfe;
}

.pagination button img {
    width: 12px;
}

.pagination .prev-btn {
    margin-right: 10px;
}

.pagination next-btn {
    margin-left: 10px;
}

@media only screen and (min-width: 450px) {
    .job {
        padding: 10px 5%;
    }

    .job-top {
        width: 65%;
    }
}

@media only screen and (min-width: 768px) {
    .job {
        flex-direction: row;
        font-size: 14px;
        justify-content: space-between;
    }

    .job-logo {
        width: 70px;
    }

    .job-main {
        width: 100%;
    }

    .job-info {
        font-size: 11px;
    }

    .job-bottom {
        margin: 0px;
        width: 30%;
    }
}